*.swp
.*.swp
__pycache__/
*.py[cod]
Isabelle2025-2_linux/
afp-2025-06-04/
isabelle-pide-mcp/
iq
ir
mcp/lib/mcp.jar
mcp_test/lib/mcp_test.jar
mcp_test/lib/munit-spec.json
mcp_test/lib/isabelle-spec.json
